@use 'variables';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .attribution{
        text-align: center;
        background-color: orange;
    }
}
body{
   font-family: variables.$font;
   background-color: antiquewhite;
}


